$color-primary-gradient-3: linear-gradient(to right, #9DCEFF 0%, #92A3FD 50%, #9DCEFF 100%);
$color-primary-gradient-2: linear-gradient(to right, #9DCEFF 0%, #92A3FD 100%);
$color-secondary-gradient-3: linear-gradient(to right, #EEA4CE 0%, #C58BF2 50%, #EEA4CE 100%);
$color-secondary-gradient-2: linear-gradient(to right, #EEA4CE 0%, #C58BF2 100%);
$color-primary: #9DCEFF;
$color-secondary: #EEA4CE;
$color-black: #1D1617;
$color-white: #FFF;
$color-gray-high: #7B6F72;
$color-gray-medium: #ADA4A5;
$color-gray-low: #DDDADA;
