$color-primary-gradient: linear-gradient(to right, #9DCEFF 0%, #92A3FD 50%, #9DCEFF 100%);
$color-secondary-gradient: linear-gradient(to right, #EEA4CE 0%, #C58BF2 50%, #EEA4CE 100%);
$color-primary: #9DCEFF;
$color-secondary: #EEA4CE;
$color-black: #1D1617;
$color-white: #FFF;
$color-grayHigh: #7B6F72;
$color-grayMedium: #ADA4A5;
$color-grayLow: #DDDADA;
