$shadow-primary: 0 10px 22px rgba(149, 173, 254, 0.3);
$shadow-secondary: 0 10px 22px rgba(197, 139, 242, 0.3);
$shadow-default: 0 10px 40px rgba(29, 22, 23, 0.07);
$shadow-block: 0 10px 40px rgba(29, 22, 23, 0.07);