@import "src/styles/colors";
@import "src/styles/shadow";

.button {
  border-radius: 99px;
  border: none;
}

.primary {
  background-image: $color-primary;
  box-shadow: $shadow-primary;
  color: $color-white;
  flex: 1 1 auto;
  transition: 0.5s;
  background-size: 200% auto;
  &:hover {
    background-position: right center;
  }
}

.small {
  height: 35px;
  width: 95px;
}

.default {
  width: 315px;
  height: 60px;
}

